
/* /* /* =========================
   footer
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   BODY
========================= */

  body {
    font-family: "Inter", sans-serif;
    background: #f8f6f2;
    color: #374151;
}


/* =========================
   FOOTER
========================= */

.footer {
    min-height: 730px;

    padding: 48px 54px;

    background-color: #f8f6f2;

    /*
       Grid background
    */
    /* background-image:
        linear-gradient(
            to right,
            rgba(120, 120, 120, 0.10) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(120, 120, 120, 0.10) 1px,
            transparent 1px
        ); */

    background-size: 48px 48px;

    border-top: 1px solid #ddd8d0;
    border-bottom: 1px solid #ddd8d0;

    border-radius: 0 0 15px 15px;
}


/* =========================
   FOOTER CONTAINER
========================= */

.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns:
        1.35fr
        1.35fr
        1.35fr
        1.2fr;
    column-gap: 55px;

    align-items: start;
}


/* =========================
   BRAND
========================= */

.footer-brand h2 {
    font-size: 24px;

    font-weight: 800;

    color: #111827;

    margin-bottom: 28px;

    letter-spacing: -1px;
}


.footer-brand p {
    max-width: 360px;

    font-size: 14px;

    line-height: 1.6;

    color: #79716b;
}


/* =========================
   COLUMN
========================= */

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* =========================
   HEADINGS
========================= */

.footer-column h3 {
    color:#bb4d00;

    font-size: 12px;

    /* line-height: 1rem; */

    font-weight: 700;

    letter-spacing: 1.5px;

    margin-bottom: 30px;
}


/* =========================
   LINKS
========================= */
.footer-links {
    list-style-type: none;
}

.footer-column a {
   

    display: block;

    text-decoration: none;

    color: #374151;

    font-size: 12px;

    /* line-height: 1.25rem; */

    margin-bottom: 23px;

    transition:
        color 0.2s ease,
        transform 0.2s ease;
}


/* Hover effect */

.footer-column a:hover {
    color: #bb4d00;

    
}


/* =========================
   CONTACT
========================= */

.contact-title {
    margin-top: 32px;
}


.footer-column .email {
    font-size: 12px;

    margin-top: 0;
}


/* =========================
   RESPONSIVE DESIGN
========================= */


/* Tablet */

@media (max-width: 1000px) {

    .footer {
        padding: 45px 35px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;

        row-gap: 50px;

        column-gap: 40px;
    }

    .footer-brand h2 {
        font-size: 32px;
    }

    .footer-brand p {
        font-size: 18px;
    }

}


/* Mobile */

@media (max-width: 600px) {

    .footer {
        padding: 40px 25px;

        background-size: 35px 35px;
    }

    .footer-container {
        grid-template-columns: 1fr;

        row-gap: 45px;
    }

    .footer-brand h2 {
        font-size: 30px;
    }

    .footer-brand p {
        font-size: 17px;

        max-width: 100%;
    }

    .footer-column h3 {
        font-size: 15px;

        letter-spacing: 2px;

        margin-bottom: 22px;
    }

    .footer-column a {
        font-size: 17px;

        margin-bottom: 18px;
    }

}  